.login-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: sans-serif;
}

.login-title {
    color: #000000;
    margin-bottom: 20px;
}

.login-form {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    color: #343a40;
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.login-button {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
}

.login-button:hover {
    background-color: #ff4500;
}

.forgot-password {
    display: block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
}

.forgot-password:hover {
    color: #0056b3;
    text-decoration: underline;
}

.register-link {
    margin-top: 20px;
}

.register-link a {
    color: #000000;
    text-decoration: none;
}

.register-link a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 16px;
}

.home-button:hover {
    background-color: #e72e00;
}